* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
    --main-bg: hsl(217, 54%, 11%);
    --card-bg: hsl(216, 50%, 16%);
    --line: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
}

body {
  font-family: "Outfit", sans-serif;
  font-size: 18px;
}

main {
    background: var(--main-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: var(--soft-blue);
}

.card {
    background: var(--card-bg);
    width: 350px;
    border: 1.25em var(--card-bg) solid;
    border-radius: 1em;
    box-shadow: 0px 0px 3em rgba(0,0,0,0.5);
}

.img-container {
    border-radius: 10px;
    background-image: url(./images/icon-view.svg);
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    background-color: var(--cyan);
    display: flex;
    cursor: pointer;
}

.nft-img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: opacity 0.5s;
}

.nft-img:hover {
    opacity: 0.5;
}

h1 {
    color: var(--white);
    font-weight: 500;
    font-size: 20px;
    padding: 0.5em 0em;
    transition: color 0.5s;
}

h1:hover {
    color: var(--cyan);
    cursor: pointer;
}

.content > p {
    font-weight: 300;
    padding-bottom: 1em;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px var(--line) solid;
    padding-bottom: 1em;
}

.price > span {
    color: var(--cyan);
    margin-left: 5px;
    font-size: 1rem;
}

.days > span {
    margin-left: 5px;
    font-size: 1rem;
}

.creator {
    display: flex;
    align-items: center;
    justify-content: left;
    padding-top: 1em;
}

.creator > img {
    width: 30px;
    height: 30px;
    border: 1px var(--white) solid;
    border-radius: 50%;
    margin-right: 0.5em;
}

.creator > p > span {
    color: var(--white);
    transition: color 0.5s;
}

.creator > p > span:hover {
    color: var(--cyan);
    cursor: pointer;
}
